##########################
#basics
##########################
model = "vgg7"
dataset = "cifar10"
task = "cls"

batch_size = 512
accelerator = "gpu"
project = "vgg_cifar10_prune"
seed = 42
log_every_n_steps = 50 
learning_rate = 1e-4

##########################
#prune
##########################
[passes.prune.weight]
sparsity = 0.2  # change it to 0.5, 0.8  
scope = "local"
granularity = "channelwise"
method = "l1-norm-single"

[passes.prune.activation]
sparsity = 0.1
scope = "local"
granularity = "elementwise"
method = "l1-norm"

##########################
# quantize
##########################
[passes.quantize]
by = "type"
[passes.quantize.default.config]
name = "NA"
[passes.quantize.linear.config]
name = "integer"
"data_in_width" = 8
"data_in_frac_width" = 4
"weight_width" = 8
"weight_frac_width" = 4
"bias_width" = 8
"bias_frac_width" = 4
[passes.quantize.conv2d.config]
name = "integer"
"data_in_width" = 8
"data_in_frac_width" = 4
"weight_width" = 8
"weight_frac_width" = 4
"bias_width" = 8
"bias_frac_width" = 4

##########################
# huffman
##########################
[passes.huffman]
is_huffman = true

##########################
#retrain
##########################
[retrain]
# load_name = "/mnt/d/imperial/second_term/adls/projects/mase/mase_output/vgg_cifar10_prune/software/prune/transformed_ckpt/state_dict.pt"
# load_name = "/mnt/d/imperial/second_term/adls/mase/test-accu-0.9332.ckpt"
load_name = "/content/drive/MyDrive/test-accu-0.9332.ckpt"
load_type = "pl"
project = "vgg_cifar10_train"

[retrain.training]
max_epochs = 10
weight_decay = 0
optimizer = "adam"
learning_rate = 1e-4
batch_size = 512

[retrain.trainer]
devices = 1
accelerator = "gpu"
